# Archivo de ejecución de interfaz en Raspberry Pi
src/launchInterfaz.sh

# Cache y archivos temporales de python
__pycache__/
*.pyc

# Archivos de configuración de celery
*celerybeat-schedule.*

# Ambiente virtual
venv/
env/

# Sphinx build
docs/build/